<div data-match-subscription-target="message" class="bubble-message position-relative d-flex <%= message.user == current_user ? 'message-current-user' : 'message-other-user' %>" id="message-<%= message.id %>">
  <div class="d-flex flex-column">
    <small>
      <strong><%= message.user.username %></strong>
      <i><%= l(message.created_at, format: "%a %e %b à %l:%M") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
