
 <h1> Le profil de mon chien</h1>


 <div class="edit-dog">
  <%= link_to "Retour", home_user_path, class: "button-return btn-primary"%>
  <%= form_with model: @dog do |f| %>
    <p><%= f.label :name %> : <%= f.text_field :name %></p>

    <p><%= f.label :age %> : <%= f.text_field :age %></p>

    <p><%= f.label :temper %> : <%= f.text_field  :temper %></p>

    <p><%= f.label :address %> : <%= f.text_field :address%></p>

    <p><%= f.label :description %> : <%= f.text_area :description %></p>

    <p><%= f.label :'jouets préférés'%> : <%= f.text_field :toys %></p>
    <%= f.submit  %>
  <% end %>
</div>
