<%= render 'shared/search_bar' %>
<div class='cards'>
  <% @dogs.each do |dog| %>
    <div class='card-dog'>
      <div class='card-top'>
        <%= image_tag 'dog.jpg' %> <%# ligne à retirer quand cloudinary up and running %>
        <%#= link_to root_path do %> <%# ligne à décommenter lorsque 'like' sera implémenté %>
          <i class='fa-solid fa-paw paw'></i>
        <%# end %>
      </div>
      <div class='card-bottom'>
        <div class='card-left'>
          <ul style='list-style: none;'>
            <li><h2><%= dog.name %></h2></li>
            <li><h5><%= dog.age %> ans</h5></li>
            <li><h5><%= dog.temper %></h5></li>
          </ul>
        </div>
        <div class='card-right'>
          <h5><i class='fa-solid fa-location-dot' style='color: $dog-gray'></i> <%= dog.toys %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
