<div id="title-index">
  <h1>petpals</h1>
</div>
<%= render "shared/search_bar" %>
<div class="index-cards-dogs" data-controller="header">
  <% @dogs.each do |dog| %>
    <div class="index-card-dog">
      <%= link_to dog_path(dog) do %>
        <div class="index-card-top">
          <div id="carouselExampleIndicators<%= dog.id %>" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators<%= dog.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators<%= dog.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <% dog.photos.each do |photo| %>
                <% if photo == dog.photos.first %>
                  <div class="carousel-item active">
                    <%= cl_image_tag photo.key, crop: :fill %>
                  </div>
                <%else%>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, crop: :fill %>
                  </div>
                <%end%>
              <%end%>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= dog.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= dog.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div data-controller="like-button">
            <%= link_to dog_likes_path(dog), data: {turbo_method: :post} do %>
              <i class="paw fa-solid fa-heart <%= dog.users.include?(current_user) ? "likedpaw" : "btnpaw-index" %>" data-like-button-target="icon" data-action="click->like-button#like"></i>
            <% end %>
          </div>
        </div>
        <div class="index-card-bottom text-ellipsis">
          <div class="index-card-bottom-1">
            <div>
              <h2><strong><%= dog.name %></strong></h2>
            </div>
            <div>
              <h5><%#= image_tag "pin.svg", class: "pin" %>
                à <%= Geocoder::Calculations.distance_between([current_user.dog.latitude, current_user.dog.longitude], [dog.latitude, dog.longitude]).round(1) %>
                km d'ici</h5>
            </div>
          </div>
          <div class="index-card-bottom-2">
            <p><%= dog.description %></p>
          </div>
          <div>
            <h4><%= pluralize(dog.age, "an") %> | <%= dog.species %> | <%= dog.temper %></h4>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
