<div class="container-dog">
  <div class="banner-dog">
    <div id="carouselExampleIndicators<%= @dog.id %>" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators<%= @dog.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators<%= @dog.id %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <% @dog.photos.each do |photo| %>
          <% if photo == @dog.photos.first %>
            <div class="carousel-item active">
              <%= cl_image_tag photo.key, crop: :fill %>
            </div>
          <%else%>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, crop: :fill %>
            </div>
          <%end%>
        <%end%>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= @dog.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= @dog.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div id='all-infos'>
    <div class="dog_infos">
      <div class='list'>
        <ul style='list-style: none; list-style-position: outside;'>
          <li><h2><%= @dog.name %></h2></li>
          <li><h5><%= pluralize(@dog.age, 'an')%></h5></li>
          <li><h5><%= @dog.temper %></h5></li>
        </ul>
      </div>
      <div class='list'>
        <ul style='text-align: end; list-style: none;'>
          <li><h6><%= @dog.species %></h6></li>
          <li><h6><i class="fa-solid fa-location-dot" style="color: $dog-gray"></i>
            <%= Geocoder::Calculations.distance_between([current_user.dog.latitude, current_user.dog.longitude], [@dog.latitude, @dog.longitude]).round(1) %>
            km d'ici</h6></li>
        </ul>
      </div>
    </div>
    <div class='description'>
      <h6><%= @dog.description %></h6>
    </div>
    <div class='toys'>
      <% @dog.toys.each do |toy| %>
        <div class='bubble'>
          <%= toy.downcase %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class='like_swap'>
  <%= link_to dog_path(@previous_dog) do %>
    <i class="fa-solid fa-chevron-left chevron "></i>
  <% end %>
  <div data-controller="like-button">
    <%= link_to dog_likes_path(@dog), data: {turbo_method: :post} do %>
      <i class="fa-solid fa-paw <%= @dog.users.include?(current_user) ? "likedpaw" : "btnpaw" %>" data-like-button-target="icon" data-action="click->like-button#like" id='pawpaw'></i>
    <% end %>
  </div>
  <%= link_to dog_path(@next_dog) do %>
    <i class="fa-solid fa-chevron-right chevron"></i>
  <% end %>
</div>
