<% if flash[:match] && current_user %>

  <div class="alert alert-info alert-match alert-dismissible fade show " role="alert">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>



    <div class="modal-content">
     <h1> Pawfect ! <br>C'est un match !</h1>
    </div>
    <div class="heart">
    <div class="dog">
      <% match = current_user.dog.matches.last %>
      <div class="gauche">
        <%= cl_image_tag match.second_dog.photos.first.key, width: 200, height: 200, crop: :fill , class: "avatar match-avatar"%>
        <h1 class= "name"><%= match.second_dog.name %></h1>
      </div>
      <div class="droite">
      <%= cl_image_tag match.dog.photos.first.key, width: 200, height: 200, crop: :fill , class: "avatar match-avatar"%>
      <h1 class="name"><%= match.dog.name %></h1>
      </div>
    </div>
      <%= link_to "Contacter mon maître", match_path(match), class: "button" %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
