<div class="navbar fixed-bottom">
  <%= link_to "#", class: "navbar-item #{ 'active' if current_page?(user_root_path) }" do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <p>Explorer</p>
  <% end %>
  <%= link_to "#", class: "navbar-item" do %>
    <i class="fa-solid fa-map-location-dot"></i>
    <p>Carte</p>
  <% end %>
  <%= link_to "#", class: "navbar-item" do %>
    <i class="fa-solid fa-comment-dots"></i>
    <p>Messages</p>
  <% end %>
  <%= link_to "#", class: "navbar-item" do %>
    <i class="fa-solid fa-calendar-check"></i>
    <p>Planning</p>
  <% end %>
  <%= link_to "#", class: "navbar-item" do %>
    <i class="fa-solid fa-dog"></i>
    <p>Profil</p>
  <% end %>
</div>
