<div class="navbar fixed-bottom">
  <%= link_to dogs_path, class: "navbar-item #{ 'active' if params[:controller] == "dogs" }" do %>
    <%= image_tag('search.svg', class:"explorer-item") %>
    <p>Explorer</p>
  <% end %>
  <%= link_to places_path, class: "navbar-item #{ 'active' if current_page?(places_path) }" do %>
    <%= image_tag('map.svg', class:"map-item") %>
    <p>Carte</p>
  <% end %>
  <%= link_to matches_path, class: "navbar-item #{ 'active' if params[:controller] == "matches" }" do %>
    <%= image_tag('heart-message.svg', class:"heart-message-item") %>
    <p>Messages</p>
  <% end %>
  <%= link_to meetings_path, class: "navbar-item #{ 'active' if current_page?(meetings_path) }" do %>
    <%= image_tag('guide-dog.svg', class:"guide-dog-item") %>
    <p>Planning</p>
  <% end %>
  <%= link_to home_user_path, class: "navbar-item" do %>
    <%= cl_image_tag current_user.dog.photos.first.key, height: 40, crop: :fill , class: "avatar"%>
    <p>Profil</p>
  <% end %>
</div>
