<div class="header-home-user">

  <div class="mask ">
    <h1> Bonjour <%= current_user.first_name %> </h1>

    <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar"%>

  </div>
  <br>
  <%= link_to "Voir tous mes avis", all_my_review_path(@reviews)%>
  <%= link_to "Se déconnecter",  destroy_user_session_path, class: "log-out", data: {turbo_method: :delete} %>
      <div class="profil-card">
        <h2>Le profil de <%= current_user.dog.name %></h2>
        <p><strong>Mon âge :</strong> <%= current_user.dog.age %></p>
        <p>Je suis un <%= current_user.dog.species %></p>
        <p><strong>Mon caractère :</strong> <%= current_user.dog.temper %></p>
        <p><strong>Mon adresse : </strong><%= current_user.dog.address %></p>
        <p><strong>Mon description : </strong><%= current_user.dog.description %></p>
        <p><strong>Mes jouets préférés: </strong><%= current_user.dog.toys %></p>
        <p class="edit-profil"><%= link_to "éditer profil", edit_dog_path(@dog)%></p>
      </div>

    <h3>Les derniers profils likés</h3>
    <% @likes.each do |like| %>
      <div class="likes-cards">
          <%=cl_image_tag like.dog.photos.first.key%>
          <span><strong><%= like.dog.name %></strong></span>
      </div>
    <% end %>
</div>
