<h1 class="title-index">Tous mes matchs</h1>
<div class="cards-match">
<% @matches.each do |match| %>
<div class="card-match">
  <%= cl_image_tag match.second_dog.photos.first.key, width: 100, height: 100, crop: :fill, class: "dog-image"%>
    <div class="match-info">
      <h2><%=match.second_dog.name%></h2>
      <p><%=l(match.second_dog.created_at, format: "Date : %a %e %b à %l:%M")%></p>
   </div>
   <%= link_to match_path(match) do %>
   <%= image_tag "chat-heart.png", class: "heart" %>
   <% end %>
</div>
  <% end %>
</div>
