<!DOCTYPE html>
<html>
  <head>
    <title>Petpals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <% if alert %>
  <body style="overflow:hidden;">
  <% else %>
  <body>
  <% end %>
    <%= render "shared/flashes" %>
    <%= render "shared/match" %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <%= render "shared/navbar" if user_signed_in? %>
  </body>
</html>
